/* .post-content p {
  font-size: 16px;
  font-family: sans-serif;
}

.post-content li {
  font-size: 16px;
  font-family: sans-serif;
} */

.post-description {
  font-size: 16px;
  font-style: italic;
}

.toc {
  font-size: 14px;
}

img.donkeysharp {
  border-radius: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.entry-content p {
  text-align: center;
  margin-top: 10px;
}

.entry-footer {
  text-align: center;
}

.home-info {
  min-height: 260px;
}

.terminal-container {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
  background: #041419;
  color: #0bf594;
  text-shadow:
      0 0 3px #0bf594,
      0 0 8px #0bf594,
      0 0 18px #0bf594;
}

.terminal {
  display: inline;
  font-size: 1.2rem;
}

.caret {
  display: inline-block;
  width: 0.8ch;
  height: 1.0em;
  background-color: #0bf594;
  margin-left: 2px;
  /* animation: blink 1s steps(1) infinite; */
  vertical-align: middle;
}


@keyframes blink {
  0%,
  100% {
    background-color: #0bf594;
  }

  50% {
    background-color: transparent;
  }
}
